/* Define keyframes for blinking animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Define a class to apply the blink animation */
.blink {
  animation: blink 200ms steps(1) infinite;
}
